@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  max-width: 660px;
  grid-gap: 30px;
}

div {
  text-align: center;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month {
  grid-column: span 5;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 32px;
}

.day-of-week {
  font-weight: bold;
}

.today {
  background: #ffd200;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.modal{
  width: 0px;
  height: 0px;
}

.modal_show {
  background-color: aqua;
  position: absolute;
  width: 40vw;
  height: 60vh;
  display: grid;
  grid-template-rows: 5% 80% 15%;
  justify-content: flex-start;
}

.wrapper_opacity {
  opacity: .1;
}

.holiday {
  background: #40E0D0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.main {
  display: grid;
  grid-template-rows: 15% 85%;
  box-shadow: 0px 2.3128px 39.3176px rgb(0 0 0 / 25%);
  border-radius: 24px;
  padding: 49px 90px;
  background: #FFFFFF;
}

.year{
  align-items: flex-start;
}

.form{
  display: grid;
  width: 40vw;
  gap: 12px;
}

.form > textarea{
  min-height: 60px;
}

.note {
  background-color: #DFE8F2;
  z-index: 10;
}

.note-today {
  background-color: #ffd200;
  z-index: 10;
}

.note-holiday {
  background-color: #40E0D0;
  z-index: 10;
}

.circle {
  width: 10px;
  background-color: red;
  min-height: 10px;
  border-radius: 50%;
}

.note-hover{
  font-size: 25px;
  width: 100%;
  text-align: initial;
  align-self: flex-start;
  padding-left: 5px;
  background-color: transparent;
}

.reminder{
  position: absolute;
  z-index: 1;
}

.note-background{
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.note-background-gray{
  background-color: #DFE8F2;
}

.container-button-close{
  justify-content: flex-start;
}

.description{
  resize: none;
}